.menu-full {
  background-color: transparent;
  color: white;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.inverted {
  background: rgba(255, 255, 255, 0.85);
  color: #000000;
  -webkit-backdrop-filter: blur(85px);
          backdrop-filter: blur(85px);
}
.inverted .han-burger, .inverted .han-burger::after, .inverted .han-burger::before {
  background-color: black;
}

.desktop_none {
  display: none;
}

.back {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 50px;
  width: 50px;
  background-color: #0047FF;
  cursor: pointer;
}

.show-more {
  width: 100%;
  height: 0;
  z-index: 11;
  background-color: white;
  transition: 2s ease-in-out;
  bottom: 0;
  position: fixed;
}

.show-more-active {
  height: 100vh;
}

picture {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.none {
  display: none;
}

.flex-imp {
  display: flex !important;
}

.none-imp {
  display: none !important;
}

.boatnaslov {
  position: relative;
  width: 100%;
  height: 100vh;
}
.boatnaslov img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scroller {
  position: absolute;
  bottom: 48px;
  left: calc(50% - 16px);
}

.lngactive {
  color: #FFFFFF;
  border-bottom: 1.5px solid white;
}

.lng {
  color: #E4E4E4;
}

.boatnaslov_content {
  position: absolute;
  top: 41.9vh;
  height: 58vh;
  z-index: 2;
  width: 100%;
}
.boatnaslov_content h2 {
  grid-column: span 8;
  color: white;
  margin-bottom: 32px;
}

.section-1 {
  margin-top: 100px;
}

.left-img-center {
  position: absolute;
  right: 0;
  width: 532px;
  display: flex;
  will-change: transform;
}

.left-img-active {
  position: fixed;
  top: 0;
}

.left-img-static {
  position: absolute;
  align-self: flex-end;
}

.contact_left_img {
  width: 100%;
}

.contact_left_img_wrapper {
  width: 100%;
  padding-top: 133.5%;
  position: relative;
}

.desktop_none {
  display: none;
}

.curved-img {
  position: relative;
  grid-column: 3/span 8;
  margin-bottom: 128px;
  width: 100%;
}

.curved-img-wrapper {
  width: 100%;
  padding-top: 106.5%;
  z-index: 2;
}

.hug-left {
  grid-column: span 7;
  margin-top: 62px;
}

.head18 {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0em;
}

.head16 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0em;
  margin-bottom: 0 !important;
}

p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #707070;
}

.p15 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  letter-spacing: 0em;
}

.sec {
  margin-bottom: 32px;
}

.border {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px #E4E4E4;
  border-style: none none solid none;
  row-gap: 26px;
}

.border:first-of-type {
  border-style: solid none solid none;
}

.border:last-of-type {
  border-style: none;
}

.border-element {
  height: auto;
  display: flex;
  width: 100%;
  align-items: center;
}
.border-element img {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.host {
  width: 48px !important;
  height: 48px !important;
}

.host-p {
  margin-top: -10px;
}

.hostp {
  margin-top: 8px;
}

.details {
  width: 268px;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 14px;
}

.details:first-of-type {
  margin-right: 32px;
}

.tech {
  display: flex;
  margin-top: 14px;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.boat {
  position: relative;
  grid-column: span 12;
  margin-bottom: 64px;
  margin-top: 140px;
}

.boat-holder {
  width: 100%;
  padding-top: 29.3%;
}
.boat-holder img {
  transform: scaleX(-1);
}

.chose {
  grid-column: span 12;
  height: 42px;
  -moz-column-gap: 48px;
       column-gap: 48px;
  display: flex;
  justify-content: center;
}

.choice {
  color: #707070;
  height: 100%;
  cursor: pointer;
}

.active {
  color: #000000;
  border-bottom: solid 1px #0047FF;
}

.cabin {
  grid-column: span 4;
  position: relative;
  height: auto;
  margin-top: 32px;
}

.cabin-img {
  width: 100%;
  position: relative;
  border-radius: 16px;
}

.cabin-img-holder {
  padding-top: 66.5%;
  width: 100%;
}

.big-photo {
  grid-column: span 8;
  position: relative;
  height: auto;
  margin-top: 32px;
  margin-bottom: 64px;
}

.big-photo-holder {
  padding-top: 66.2%;
  width: 100%;
}

.small-photo {
  width: 100%;
  position: relative;
  height: auto;
  margin-top: 32px;
}

.small-wrapper {
  grid-column: span 4;
  margin-bottom: 64px;
}

.small-photo-holder {
  padding-top: 66.2%;
  position: relative;
  width: 100%;
}

.small-photo-content {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 8;
}

.white_button {
  cursor: pointer;
  background-color: white;
  padding: 16px 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}

.cabin-content {
  padding-top: 64px;
  padding-bottom: 64px;
}

.features {
  grid-column: span 3;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 40px;
}

.con-img {
  display: flex;
  margin-bottom: 20px;
}
.con-img img {
  height: 40px;
  width: 40px;
}

.naslov {
  text-align: center;
  margin-bottom: 88px;
  margin-top: 256px;
}
.naslov h2 {
  grid-column: span 12;
}

.skiny-img {
  grid-column: 2/span 3;
  position: relative;
}

.skiny-img-holder {
  padding-top: 164.17%;
  position: relative;
  width: 100%;
}

.wide-img {
  margin-top: 73px;
  margin-bottom: 200px;
  grid-column: 6/span 5;
  position: relative;
}

.wide-img-holder {
  padding-top: 113.44%;
  position: relative;
  width: 100%;
}

.center-img {
  margin-top: 256px;
  margin-bottom: 220px;
  grid-column: 4/span 6;
  position: relative;
}

.center-img-holder {
  padding-top: 66.19%;
  position: relative;
  width: 100%;
}

.headfood {
  grid-column: 3/span 4;
  grid-row-start: 1;
  text-align: right;
  margin-bottom: 140px;
}

.med {
  grid-column: 2/span 5;
  position: relative;
}

.med-smallimg {
  width: 100%;
  position: relative;
}

.med-smallimg-holder {
  padding-top: 63.16%;
  position: relative;
  width: 100%;
}

.med-bigimg {
  grid-column: 8/span 5;
  position: relative;
  grid-row-start: 1;
}

.section1 {
  margin-bottom: 197px;
}

.med-bigimg-holder {
  padding-top: 136.75%;
  position: relative;
  width: 100%;
}

.umde-wimg {
  grid-column: 2/span 6;
  position: relative;
}

.umde-wimg-holder {
  padding-top: 59.85%;
  position: relative;
  width: 100%;
}

.umde-simg {
  grid-column: 9/span 4;
  position: relative;
  margin-top: 184px;
  margin-bottom: 180px;
}

.umde-simg-holder {
  padding-top: 66.3%;
  position: relative;
  width: 100%;
}

.mobile {
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
}

.s2 {
  margin-top: 24px;
  grid-column: span 12;
  margin-bottom: 180px;
}

.features2 {
  grid-column: span 6;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 69px;
  margin-bottom: 180px;
}
.features2 h4 {
  margin-bottom: 24px;
}

.hed2 {
  margin-top: 20px;
}

.section2 {
  margin-bottom: 140px;
}
.section2 h2 {
  margin-bottom: 24px;
}
.section2 .border {
  row-gap: 16px;
}
.section2 .border:first-of-type {
  border-style: none none solid none !important;
}
.section2 .border:last-of-type {
  width: 568px;
}
.section2 .tech {
  margin-top: 0;
}
.section2 h4 {
  margin-bottom: 24px;
}
.section2 .border-element p {
  width: 568px;
}

.grid3 {
  grid-column: span 4;
  position: relative;
}

.section3 h2 {
  margin-bottom: 66px;
}
.section3 h4 {
  margin-bottom: 40px;
}
.section3 a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  /* identical to box height, or 27px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.section3 p {
  color: #000000;
  padding-right: 100px;
  font-weight: 300;
}
.section3 .border-element {
  margin-bottom: 12px;
}

.full-maxw {
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.full-cotainer {
  padding-left: 64px;
  padding-right: 64px;
}

.bigdining-img {
  margin-right: 10.37%;
  width: 50.31%;
  position: relative;
}

.bigdining-img-holder {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.rest {
  width: 28.93%;
}

.section5 h2 {
  margin-bottom: 24px;
}

.tech-elm {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.smalldining-img {
  width: 88.58%;
  position: relative;
  margin-top: 219px;
}

.smalldining-img-holder {
  padding-top: 141.1%;
  position: relative;
  width: 100%;
}

.paralax-white h3 {
  margin-top: 180px;
}

@media only screen and (max-width: 1440px) {
  .left-img-center {
    width: 37.7%;
  }
}
@media only screen and (max-width: 950px) {
  .mobile_none {
    display: none;
  }
  .section3 h2 {
    margin-bottom: 0px;
    margin-top: 128px;
  }
  .grid3 {
    margin-top: 64px;
  }
  .section2 .tech {
    flex-direction: column;
    row-gap: 32px;
  }
  .desktop_none {
    display: flex;
  }
  .hug-left {
    grid-column: 2/span 10;
  }
  .hug-left .border:first-of-type {
    margin-bottom: 64px;
  }
  .curved-img {
    margin-top: 64px;
  }
  .features {
    grid-column: span 4;
    margin-bottom: 0;
    margin-top: 24px;
  }
  .grid3 {
    grid-column: span 6;
  }
  .boat {
    margin-bottom: 128px;
  }
  .section4 {
    margin-top: 128px;
  }
  .span12 {
    margin-top: 128px;
  }
  .smalldining-img {
    margin-top: 100px;
  }
  .center-img {
    margin-top: 160px;
    margin-bottom: 120px;
  }
  .umde-simg {
    margin-top: 100px;
    top: 0 !important;
  }
  .headfood {
    margin-bottom: 40px;
  }
  .features2 {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 650px) {
  .mobile_none {
    display: none;
  }
  .mobile {
    margin-top: 128px;
  }
  .boat {
    padding-left: 0;
    padding-right: 0;
  }
  .naslov {
    text-align: left;
    margin-top: 0;
  }
  .naslov h2 {
    margin-bottom: 32px;
  }
  .full-maxw {
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
  }
  .bigdining-img {
    width: 100%;
  }
  .sec {
    margin-top: 16px;
  }
  .rest {
    width: 100%;
  }
  .rest div {
    width: 100%;
  }
  .skiny-img-holder, .wide-img-holder, .bigdining-img-holder, .smalldining-img-holder, .center-img-holder, .med-bigimg-holder, .med-smallimg-holder, .umde-simg-holder, .umde-wimg-holder {
    padding-top: 142.2%;
  }
  .grid3 {
    grid-column: span 12;
  }
  .grid3 p {
    padding-right: 0;
  }
  .features {
    grid-column: span 6;
  }
  .curved-img {
    margin-bottom: 32px;
  }
  .border {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .features2 {
    grid-column: span 12;
    margin-bottom: 0;
  }
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .desktop_none {
    display: flex;
  }
  .hug-left {
    grid-column: span 12;
  }
  .curved-img {
    margin-bottom: 64px;
  }
  .cabin {
    grid-column: span 10;
  }
  .span12 {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .span12 * {
    grid-column: span 12;
    margin: 0;
    top: 0 !important;
  }
  .span12 div {
    row-gap: 32px;
  }
  .span12 h3 {
    display: none;
  }
  .section2 .border:last-of-type {
    width: auto;
  }
  .s2 {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile_none {
    display: none;
  }
  .section2 {
    margin-bottom: 96px;
  }
  .section2 .tech {
    flex-direction: row;
  }
  .tech-elm {
    flex-direction: column;
    row-gap: 12px;
  }
  .cabin {
    grid-column: span 12;
  }
  .details {
    margin-top: 24px;
    margin-right: 0 !important;
    width: 100%;
  }
  .host-p {
    margin-top: -2px;
  }
  .boatnaslov_content h2 {
    grid-column: span 11;
  }
  .features {
    grid-column: span 12;
  }
  .border-element {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .deluxe {
    flex-direction: column;
  }
  .tech {
    display: flex;
    margin-top: 14px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .desktop_none {
    display: flex;
  }
  .hug-left {
    grid-column: span 12;
  }
  .hug-left h2 {
    margin-right: 20px;
  }
  .curved-img {
    margin-bottom: 24px;
  }
  .cabin-content {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .cabin {
    margin-top: 0;
  }
  .paralax-white h3 {
    margin-bottom: 64px;
    margin-top: 0;
  }
  .section-1 {
    margin-top: 0;
  }
  .cabinf {
    margin-bottom: 8px;
    margin-top: 32px;
  }
}/*# sourceMappingURL=yolo.css.map */